@import "tailwindcss";
@theme {
  --font-serif-elegant: "Lora", serif;
}
@plugin "daisyui"{
  themes: light --default , dark;
}

@keyframes repliesIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-replies-in {
  animation: repliesIn 0.25s ease-out;
}